$font-color: #3C7DD1;

.workspaces-widget {
  background-color: #201060;
  border: 2px solid black;
  border-radius: 0 10px 10px 0;
  padding-left: 12px;
  padding-right: 15px;
  padding-top: 5px;
}

.workspace-entry {
  padding-left: 5px;
  padding-right: 5px;
}

.workspace-entry {
  color: $font-color;
  font-weight: 300;
  border-bottom: 3px solid transparent;
}

.workspace-entry.empty {
  opacity: 0.5;
}

.workspace-entry.current {
  font-weight: 800;
  border-bottom: 3px solid $font-color;
}
