@import "../../theme/theme.variables.scss";

.workspace_entry {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 300;
  border-bottom: 3px solid transparent;
  padding-top: 3px;
}

.workspace_entry.empty {
  opacity: 0.3;
}

.workspace_entry.current {
  font-size: 1.1em;
  font-weight: 900;
  border-bottom: 3px solid $font-color;
}
